<div class="editarPessoasContainer">
    <form>
        <div class="field">
            <label class="label">Nome</label>
            <div class="control">
                <input type="text" placeholder="Nome do aluno">
            </div>
        </div>
        <div class="field">
            <label class="label">Data de nascimento</label>
            <div class="control">
                <input type="date">
            </div>
        </div>
        <div class="field">
            <label class="label">Foto</label>
            <div class="control">
                <input type="text" placeholder="URL da foto do aluno. Opcional">
            </div>
        </div>
        <button class="editarPessoa">Editar</button>
    </form>
</div>