<div class="editarPessoasContainer">
    <form>
        <div class="field">
            <label class="label">Nome</label>
            <div class="control">
                <input type="text" [(ngModel)]="pessoaNome" placeholder="Nome do aluno">
            </div>
        </div>
        <div class="field">
            <label class="label dataNasc">Data de nascimento</label>
            <div class="control">
                <input [(ngModel)]="pessoaData" type="date" min="1901-01-01" max="2022-09-28">
            </div>
        </div>
        <div class="field">
            <label class="label">Foto</label>
            <div class="control">
                <input [(ngModel)]="pessoaPhotoURL" type="text" placeholder="URL da foto do aluno. Opcional">
            </div>
        </div>
        <button class="editarPessoa" (click) = "enviaPessoa()">Editar</button>
    </form>
</div>