<!-- main page container -->
<div class="mainPageContainer">
  <div class="headerContainer">

      <!-- header text -->
      <span class="headerText">
          Cadastro de Pessoas
      </span>
  </div>

  <!-- TODO: add a 'chosen' style for when the option is selected -->
  <!-- navigation text options -->
  <div class="choiceContainer">

    <!-- TODO: make the click send user to the respective page -->
    <!-- using 'showProfile' for testing -->
    <a class="option listar" (click)="showProfile(11111)" routerLink="/mostrar-perfil">Listar Pessoas</a>
    <a class="option cadastrar" (click)="alertada()">Cadastrar Pessoa</a>
  </div>

  <!-- dividing line after the nav options -->
  <div class="containerSeparation"></div>

  <!-- TODO: put this in 'listar-pessoas'-->
  <!-- showing 'pessoas' using table -->
  <div class="showPessoasContainer">
    <table>
      <tr>
        <th>
          Nome
        </th>
        <th>
          Opção
        </th>
      </tr>
      <tr *ngFor="let pessoa of pessoaLista">
        <td>
          {{pessoa.nome}}
        </td>
        <td>
          <button>Ver Perfil</button>
          <button>Editar</button>
          <button>Deletar</button>
        </td>
      </tr>
    </table>
  </div>
</div>
