.mainPageContainer {
    text-align: center;

    position: relative;

    .headerText {
        font-size: 30px;

        font-weight: 700;
    }
}

.choiceContainer {
    margin-top: 3vh;

    .option {
        padding: 2vh;
    }
}

.choiceContainer {
    border-bottom: 2px solid black; 
    width: 100%;
}

.showPessoasContainer {
    //margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    .showPessoasTitle{
        display: flex;
        justify-content: space-around;
    }

    .showPessoas{
        display: flex;
        justify-content: space-around;
        align-items: center;

        border: 2px solid black;

        padding: 30px;
        margin-bottom: 10px;
        .showPessoasNome{
            width: 50%;
        }
        .showPessoasOpcoes {
            width: 50%;
            display: flex;
            justify-content: center;
    
            button {
                margin-left: 10px;
                width: 15%;
                padding: 10px 0px;
                border-radius: 8px;
            }
            .showPessoasPerfil{
                background-color: green;
            }
            .showPessoasEditar{
                background-color: yellow;
            }
            .showPessoasDeletar{
                background-color: red;
            }
        }
    }
}