<div class="mainPageContainer">
  <div class="headerContainer">
      <span class="headerText">
          Cadastro de Pessoas
      </span>
  </div>

  <div class="choiceContainer">
    <span class="option listar">Listar Pessoas</span>
    <span class="option cadastrar">Cadastrar Pessoa</span>
  </div>

  <div class="containerSeparation"></div>

  <div class="showPessoasContainer">
    <table>
      <tr>
        <th>
          Nome
        </th>
        <th>
          Opção
        </th>
      </tr>
      <tr *ngFor="let pessoa of pessoaLista">
        <td>
          {{pessoa.nome}}
        </td>
        <td>
          <button>Ver Perfil</button>
          <button>Editar</button>
          <button>Deletar</button>
        </td>
      </tr>
    </table>
  </div>
</div>
