.mainPageContainer {
    text-align: center;

    position: relative;

    .headerText {
        font-size: 30px;
    }
}

.choiceContainer {
    margin-top: 3vh;

    .option {
        padding: 15px;
    }
}

.showPessoasContainer {
    //margin: 0 auto;

    display: flex;
    justify-content: center;
    
    margin-top: 5vh;
}