.pessoaInfoContainer {
    margin-top: 3%;
    margin-bottom: 2%;
}

.imgPessoa {
    margin-top: 2%;
    max-width: 40%;
    max-height: 40%;
}

.nomePessoa {
    margin: 30px;
    margin-left: -30px;
}

.idPessoa {
    font-size: 10px;
    color: grey;

    font-style: italic;
}