<div class="showProfileContainer">
    <div class="pessoaInfoContainer">
        <div class="mainInfo">
            <span class="nomePessoa">{{this.newPessoa.nome}}</span>
            <span class="dataPessoa">{{this.dateFormated}}</span>
            <!--
                <span>{{pessoaSendoMostrada.nome}}</span>
            <span>{{pessoaSendoMostrada.dataNasc}}</span> 
            -->   
        </div>
        
        <!--
            <span>{{pessoaSendoMostrada.id}}</span>
        -->
        <span class="idPessoa">id: {{this.newPessoa.id}}</span><br>

        <img class="imgPessoa" src='https://thispersondoesnotexist.com/image'>
    </div>

    <a routerLink="/">Voltar</a>
</div>