<!-- main page container -->
<div class="mainPageContainer">
    <div class="headerContainer">
  
        <!-- header text -->
        <span class="headerText">
            Cadastro de Pessoas
        </span>
    </div>
  
    <!-- TODO: add a 'chosen' style for when the option is selected -->
    <!-- navigation text options -->
    <div class="choiceContainer">
        <!-- TODO: make the click send user to the respective page -->
        <!-- using 'showProfile' for testing -->
        <span class="option listar">Listar Pessoas</span>
        <span class="option cadastrar">Cadastrar Pessoa</span>
    </div>

    <div class="profileContainer"></div>
</div>